__pycache__/
*.pyc
docs/design/landing/fotos/*
!docs/design/landing/fotos/README.md

# Next.js
node_modules/
.next/
next-env.d.ts
test-results/
playwright-report/
.env
.env.local
tsconfig.tsbuildinfo
.pglite/
.storage/

# OpenNext
.open-next

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example

!.env.example
